:root {
  --color-neutral-0: #044040;
  --color-neutral-10: #2e2c2c;
  --color-neutral-20: #066b6e;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #fcf8f8;
  --color-neutral-50: #a9fddd;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

#nav_content {
  background-color: var(--color-neutral-20);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* para garantir que a nav fique acima de outros elementos */
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  background: var(--color-neutral-50);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  flex: 1 0 auto;
}
.container {
  margin-top: 60px; /* Ajuste conforme necessário */
}

h1 {
  color: var(--color-neutral-0);
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 426px) {
  h1 {
    font-size: 1.2rem;
  }
}

.compra-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compra-options form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.compra-options form-check-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.compra-options form-check-input {
  margin-top: 0.5rem;
}

.check_box {
  gap: 1.5rem;
  padding: 0.3rem;
  background: white;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-block-end: 1rem;
}

.help-options {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.help-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.help-option img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 1rem;
}

.help-option h2 {
  font-size: 1.2rem;
  color: var(--color-neutral-0);
}

.help-option:hover {
  transform: translateY(-30px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
  bottom: 0;
  width: 100%;
  color: var(--color-neutral-40);
  flex-shrink: 0;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 2rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_contacts p {
  font-size: 0.6rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 100;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  font-size: 0.8rem;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

.footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

.footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 2px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-0);
  padding: 0px 1.25rem;
  font-size: 1.25rem;
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.7rem;
  padding: 0.8rem;
  font-weight: 50;
}

#footer_endereco {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.7rem;
  padding: 0.8rem;
  font-weight: 10;
}

@media screen and (max-width:768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width:426px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2rem;
  }
}

.logo {
  width: 200px;
  height: 40px;
}

.nav-item-custom {
  width: 120px;
}

.login-button {
  width: 200px;
}

.user-info {
  text-align: right;
  color: white;
  width: 300px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

@keyframes colorchange {
  0% {
    color: #25d366;
  }

  33% {
    color: #1421d8;
  }

  66% {
    color: #0e0c0c;
  }

  100% {
    color: #25d366;
  }
}

/* CSS para garantir que cada item de modelo fique em uma nova linha */
#modelos label {
  display: block;
  margin-bottom: 0.5rem;
}

#modelos input {
  margin-right: 0.5rem;
}

#modelos img {
  width: 50px;
  margin-right: 0.5rem;
}
