  <div id="footer_content">
      <div id="footer_contacts">
          <img src="">
          <p>Siga-nos nas redes sociais para ficar por dentro das últimas novidades e promoções</p>

          <div id="footer_social_media">
              <a href="#" class="footer-link" id="github">
                <i class="fa-brands fa-github"></i>
              </a>
              <a href="#" class="footer-link" id="linkedin">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#" class="footer-link" id="whatsapp">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
          </div>
      </div>
          <ul class="footer-list">
            <li>              <h3>Sistem HelpDesk</h3>            </li>
            <li> <a href="#" class="footer-link">Vagas 24h</a>      </li>
            <li>
              <a href="#" class="footer-link">Segurança</a>
            </li>
            <li>
              <a href="#" class="footer-link">Reservas on-line</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <h3>Contatos</h3>
            </li>
            <li>
              <a class="footer-link">Telefone: (12) 7456-7890</a>
            </li>
            <li>
              <a href="#" class="footer-link">E-mail: contato@helpdeskfi.com</a>
            </li>
            <li>
              <a href="#" class="footer-link"></a>
            </li>
          </ul>
  </div>
  <div id="footer_endereco">
    Horário de antendimento vagas noturna. Segunda a Sexta: 7h00 às 17h00
    <br>
    Endereço: Rua das Flores Amarelas, 11234, Bairro Central, Cidade Imaginária, Estado Fictício
  </div>
  <div id="footer_copyright"> &#169 2023 all rights reserve </div>