<div id="containers">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('router.home.index')}}">
                <img src="{{url_for('static', filename='Images/LogoNavi.png')}}" alt="Logo" class="logo">
            </a>
            <div class="ms-auto">

            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('router.home.index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Reservas de vagas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('router.home.index')}}">Registros de usuárioas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('router.home.index')}}">Usuários cadastrados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('router.home.index')}}">Cadastro de Cartão RFID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('router.home.index')}}">Sobre Nós</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
